src/cz/vity/freerapid/xmlimport/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.0">

    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true" enableFailFastCheck="true"/>
            <jaxb:schemaBindings>
                <jaxb:package name="cz.vity.freerapid.xmlimport.ver1"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:element name="url" type="xs:anyURI"/>
    <xs:element name="services" type="xs:string"/>
    <xs:element name="plugins">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="plugin" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="plugin">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="services"/>
                <xs:element ref="url"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="vendor" type="xs:string" use="required"/>
            <xs:attribute name="minVer" type="xs:string" use="required"/>
            <xs:attribute name="maxVer" type="xs:string" use="required"/>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="premium" type="xs:string" use="required"/>
            <xs:attribute name="filename" type="xs:string" use="required"/>
            <xs:attribute name="filesize" type="xs:long" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
